body{
  margin: 0;
  width: 100%;
  height: 100%;
}

.App{
  display: block;
  justify-content: center;
  margin-top: 100px;
  margin-left: 1125px ;
}

.lo{
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 10px;
}

.lol{
  margin-right: 15pxs;
}

.col {
  font-size: 20px;
}